.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 438px;
  height: 52px;
  border-radius: 30px;
  background: var(--green);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
}

.button:hover,
.button:focus {
  background: var(--dark-green);
}
