.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.link {
  position: relative;
  display: inline-block;
  outline: none;
}

.link:hover,
.link:focus {
  color: var(--dark-green);
}

.link::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: var(--dark-green);
  transition: width 0.3s ease;
}

.link:hover::after {
  width: 100%;
}

.link.active {
  color: var(--dark-green);
}

.link.active::after {
  width: 100%;
}
