.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 26, 21, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background: var(--white);
  border-radius: 30px;
}

.closeBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  cursor: pointer;
  background: transparent;
  transition: transform 0.3s ease;
}

.closeBtn:hover {
  transform: rotate(90deg);
}
