.wrapper {
  padding: 64px 0 100px 0;
}

.paginationBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 64px;
}

.forwardBtn,
.backBtn {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  background: var(--green);
  position: relative;
}

.forwardBtn:hover,
.backBtn:hover {
  background: var(--dark-green);
}

.paginationText {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}

.backIcon,
.forwardIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backIcon {
  transform: translate(-50%, -50%) rotate(90deg);
}

.forwardIcon {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.backBtn:disabled,
.forwardBtn:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}

.noResults {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-top: 100px;
}
