.form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 64px;
  gap: 40px;
  width: 566px;
  height: auto;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 18px;
}

.label {
  margin: 0;
}

.input {
  padding: 16px 18px;
  width: 438px;
  height: 52px;
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  outline: none;
}

.input::placeholder,
.input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--black);
}

.errorMessage {
  color: red;
  margin-top: 8px;
  font-size: 14px;
}

.pwdWrapper {
  position: relative;
  margin-bottom: -18px;
}

.eyeIcon {
  position: absolute;
  right: 18px;
  top: 16px;
}
